/* BASE */
@import '/fonts/euclid/stylesheet.css';
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
@-webkit-keyframes showPopup {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes showPopup {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes hidePopup {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes hidePopup {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
body {
  font-family: "Euclid Circular B", serif;
  font-size: 16px;
  background-color: #1E1E1E;
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.default__title_case, .default__title_blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: clamp(40px, 1.591rem + 4.55vw, 80px);
}
.default__title_case a, .default__title_blog a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.default__title_case img, .default__title_blog img {
  padding-top: 2px;
}

.button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title1 {
  color: #ffffff;
  font-family: "Ubuntu", serif;
  font-size: clamp(32px, 1.136rem + 4.32vw, 70px);
  font-weight: 700;
  line-height: clamp(40px, 1.591rem + 4.55vw, 80px);
}

.title2 {
  color: #ffffff;
  font-family: "Ubuntu", serif;
  font-size: clamp(36px, 1.614rem + 3.18vw, 64px);
  font-weight: 700;
  line-height: clamp(40px, 1.727rem + 3.86vw, 74px);
}
.title2_footer {
  font-size: clamp(29px, 1.017rem + 3.98vw, 64px);
}

.title3 {
  color: #ffffff;
  font-size: clamp(22px, 1.057rem + 1.59vw, 36px);
  font-weight: 400;
  line-height: 46px;
}
.title3_approach span {
  padding-right: 15px;
}
.title3_case {
  line-height: clamp(28px, 1.341rem + 2.05vw, 46px);
  font-weight: 500;
}

.title4 {
  color: #ffffff;
  font-size: clamp(18px, 0.989rem + 0.68vw, 24px);
  font-weight: 700;
  line-height: 120%;
}

.subtitle {
  font-weight: 400;
  color: #ffffff;
}
.subtitle_info {
  font-size: clamp(18px, 0.807rem + 1.59vw, 32px);
  line-height: 150%;
}
.subtitle_services {
  font-size: clamp(16px, 0.773rem + 1.14vw, 26px);
  line-height: 200%;
}
.subtitle_approach {
  font-size: clamp(14px, 0.739rem + 0.68vw, 20px);
  line-height: 150%;
}
.subtitle_case {
  font-size: clamp(16px, 0.773rem + 1.14vw, 26px);
  line-height: clamp(20px, 0.955rem + 1.48vw, 33px);
}
.subtitle_blog {
  font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
  line-height: 28px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 60px;
  background-color: #ffffff;
  padding: 12px 43.5px;
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}
.button_case {
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  padding: 12px 24px;
}
.button_connect {
  width: 100%;
}
.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BASE */
/* BLOCK */
.header__wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  margin-bottom: clamp(50px, 0.852rem + 11.36vw, 150px);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: clamp(30px, 1.648rem + 1.14vw, 40px) 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 81px;
     -moz-column-gap: 81px;
          column-gap: 81px;
}

.header__link {
  color: #ffffff !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.burder__button {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header__nav, .header__button {
    display: none;
  }
  .burder__button {
    display: block;
  }
}
.header__nav_mobile {
  position: fixed;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}
.header__nav_mobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}
.header__nav_mobile li {
  color: #ffffff !important;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.show__nav_modile {
  -webkit-animation: showPopup 0.3s forwards linear;
          animation: showPopup 0.3s forwards linear;
}

.hide__nav_modile {
  -webkit-animation: hidePopup 0.3s forwards linear;
          animation: hidePopup 0.3s forwards linear;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  z-index: 102;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #fff;
}

.burger::before {
  top: 0;
  -webkit-box-shadow: 0 11px 0 #fff;
          box-shadow: 0 11px 0 #fff;
  -webkit-transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
}

.burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s 0.15s;
}

.hero {
  padding-bottom: clamp(0px, -4.182rem + 20.91vw, 184px);
}

.hero__title {
  max-width: 830px;
  margin-bottom: clamp(30px, 1.193rem + 3.41vw, 60px);
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: clamp(12px, 0.568rem + 0.91vw, 20px);
}

.hero__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  border-radius: 40px;
  padding: clamp(6px, 0.33rem + 0.23vw, 8px) clamp(16px, 0.955rem + 0.23vw, 18px);
  color: #ffffff;
  font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
  font-weight: 400;
  line-height: 150%;
}
.hero__item img {
  margin-right: 10px;
}

.info {
  margin-top: 93px;
}

.info__subtitle {
  max-width: 866px;
  width: 100%;
  margin: 0 auto;
}

.services {
  padding: clamp(130px, 6.534rem + 7.95vw, 200px) 0;
}

.button__services {
  margin: 0 auto;
}

.services__elem {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: clamp(40px, 1.591rem + 4.55vw, 80px) 0;
}

.services__elem_item {
  color: #ffffff;
  font-size: clamp(16px, 0.773rem + 1.14vw, 26px);
  font-weight: 400;
  line-height: 200%;
  list-style-type: disc;
}

.svg_services {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  .services__elem {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .services__elem_list {
    margin-left: 30px;
  }
  .services__elem_subtitle {
    margin-bottom: 24px;
  }
}
.approach {
  padding-bottom: clamp(130px, 6.534rem + 7.95vw, 200px);
}

.approach__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: clamp(35px, 1.619rem + 2.84vw, 60px);
  margin: clamp(40px, 1.591rem + 4.55vw, 80px) 0;
}

@media screen and (max-width: 1000px) {
  .approach__grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 630px) {
  .approach__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.approach__elem_title {
  position: relative;
  padding-bottom: clamp(22px, 1.193rem + 0.91vw, 30px);
}

.approach__elem_subtitle {
  padding-top: clamp(22px, 1.193rem + 0.91vw, 30px);
}

.svg_approach {
  position: absolute;
  bottom: 0;
}

.case {
  padding-bottom: clamp(130px, 6.534rem + 7.95vw, 200px);
}

.case__elem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: clamp(30px, 1.648rem + 1.14vw, 40px);
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  padding: clamp(40px, 2.045rem + 2.27vw, 60px) 0;
}

.case__type_title {
  margin-bottom: 10px;
}

.case__type_span {
  margin-bottom: clamp(20px, 0.795rem + 2.27vw, 20px);
  color: #ffffff;
  font-size: clamp(12px, 0.568rem + 0.91vw, 20px);
  font-weight: 400;
  line-height: 150%;
}

.case__type_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(5px, 0.108rem + 1.02vw, 14px);
     -moz-column-gap: clamp(5px, 0.108rem + 1.02vw, 14px);
          column-gap: clamp(5px, 0.108rem + 1.02vw, 14px);
}

.case__type_tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: clamp(6px, 0.33rem + 0.23vw, 8px) clamp(10px, 0.58rem + 0.23vw, 12px);
  color: #ffffff;
  font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
  font-weight: 400;
  line-height: 23px;
}

.case__elem_subtitle {
  max-width: 463px;
}

.svg_case {
  position: absolute;
}

.svg_case-top {
  top: 0;
}

.svg_case-bottom {
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  .case__elem {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }
  .case__elem_type {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .case__elem_subtitle {
    max-width: unset;
  }
  .case__elem_button {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
@media screen and (max-width: 630px) {
  .case__elem {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .case__elem_button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .case__elem_type {
    grid-column: unset;
  }
}
.blog {
  padding-bottom: clamp(130px, 6.534rem + 7.95vw, 200px);
}

.blog__image {
  margin-bottom: clamp(20px, 1.023rem + 1.14vw, 30px);
}

.blog__title {
  margin-bottom: clamp(10px, 0.398rem + 1.14vw, 20px);
}

.blog__subtitle {
  margin-bottom: clamp(24px, 1.364rem + 0.68vw, 30px);
}

.blog__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 110%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.blog__link img {
  padding-top: 2px;
}
.blog__link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (max-width: 630px) {
  .blog__image {
    width: 100%;
  }
}
.connect {
  position: relative;
  padding-bottom: 82px;
}

.connect__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
}

.connect__form {
  max-width: 553px;
  width: 100%;
}
.connect__form span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.connect__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: clamp(10px, 0.398rem + 1.14vw, 20px);
  margin-bottom: clamp(25px, 1.222rem + 1.7vw, 40px);
}

.connect__input {
  border-radius: 60px;
  background: #333333;
  padding: 18px 24px;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.radios__wrapper {
  margin-left: 24px;
}

.connect__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
  margin-top: clamp(15px, 0.824rem + 0.57vw, 20px);
}
.connect__radios label {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.connect__checkboxe {
  margin-right: 12px;
}

.connect__button {
  margin-top: clamp(30px, 1.648rem + 1.14vw, 40px);
}

.connect__telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-top: 22px;
}

.svg__connect {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  .connect__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-checkbox .checkbox {
  margin-right: 10px;
}

.custom-checkbox input {
  -webkit-appearance: none;
  position: absolute;
}

.checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #707070;
  border-radius: 50%;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  display: none;
}

.custom-checkbox input:checked ~ .checkbox .checkmark {
  display: block;
}

.checkbox__wrapper_send {
  margin-top: 40px;
}
.checkbox__wrapper_send span {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.checkbox_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom-checkbox_send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-checkbox_send input {
  -webkit-appearance: none;
  position: absolute;
}

.checkbox_send {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #707070;
  border-radius: 2px;
}

.checkmark_send {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  display: none;
}

.custom-checkbox_send input:checked ~ .checkbox_send .checkmark_send {
  display: block;
}

@media screen and (max-width: 630px) {
  .custom-checkbox_send {
    display: none;
  }
}
.connect__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 532px;
  width: 100%;
  max-height: 532px;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 28.51px 0px rgb(255, 255, 255), 0px 0px 57.03px 0px rgb(255, 255, 255), 0px 0px 199.6px 0px rgb(255, 255, 255), 0px 0px 399.2px 0px rgb(255, 255, 255), 0px 0px 684.34px 0px rgb(255, 255, 255), 0px 0px 1197.6px 0px rgb(255, 255, 255);
          box-shadow: 0px 0px 28.51px 0px rgb(255, 255, 255), 0px 0px 57.03px 0px rgb(255, 255, 255), 0px 0px 199.6px 0px rgb(255, 255, 255), 0px 0px 399.2px 0px rgb(255, 255, 255), 0px 0px 684.34px 0px rgb(255, 255, 255), 0px 0px 1197.6px 0px rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  opacity: 0;
  visibility: hidden;
}
.connect__popup h3 {
  color: #222222;
  font-family: "Ubuntu", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 20px;
}
.connect__popup span {
  color: #222222;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}
.connect__popup button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #222222;
  border-radius: 60px;
  background-color: #ffffff;
  padding: 12px 38px;
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.connect__popup button:hover {
  background-color: #222222;
  color: #ffffff;
}

.showPopup-animation {
  -webkit-animation: showPopup 1s ease-out forwards;
          animation: showPopup 1s ease-out forwards;
}

.hidePopup-animation {
  -webkit-animation: hidePopup 1s ease-out forwards;
          animation: hidePopup 1s ease-out forwards;
}

.footer {
  padding: clamp(40px, 1.591rem + 4.55vw, 80px) 0 clamp(20px, 1.091rem + 0.8vw, 27px);
}

.footer__title {
  margin-bottom: clamp(20px, 0.341rem + 4.55vw, 60px);
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
}

.footer__copyright {
  color: #707070;
  font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
  font-weight: 400;
  line-height: 24px;
}

.footer__policy {
  color: #ffffff;
  font-size: clamp(12px, 0.659rem + 0.45vw, 16px);
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 320px) {
  .footer__info {
    -webkit-column-gap: unset;
       -moz-column-gap: unset;
            column-gap: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/* BLOCK */