.approach__elem {
}
.approach__elem_title {
  position: relative;
  padding-bottom: clamp(22px, 1.193rem + 0.91vw, 30px);
}
.approach__elem_subtitle {
  padding-top: clamp(22px, 1.193rem + 0.91vw, 30px);
}

.svg_approach {
  position: absolute;
  bottom: 0;
}
