.blog {
  padding-bottom: clamp(130px, 6.534rem + 7.95vw, 200px);
}

.blog__image {
  margin-bottom: clamp(20px, 1.023rem + 1.14vw, 30px);
}

.blog__title {
  margin-bottom: clamp(10px, 0.398rem + 1.14vw, 20px);
}

.blog__subtitle {
  margin-bottom: clamp(24px, 1.364rem + 0.68vw, 30px);
}

.blog__link {
  display: flex;
  align-items: center;
  column-gap: 7px;

  color: $colorWhite !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 110%;

  transition: transform 0.2s linear;

  img {
    padding-top: 2px;
  }

  &:hover {
    transform: translateY(-3px);
  }
}

@media screen and (max-width: 630px) {
  .blog__image {
    width: 100%;
  }
}
