.connect {
  position: relative;
  padding-bottom: 82px;
}

.connect__row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 50px;
}

.connect__form {
  max-width: 553px;
  width: 100%;

  span {
    color: $colorWhite;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}

.connect__inputs {
  display: flex;
  flex-direction: column;
  row-gap: clamp(10px, 0.398rem + 1.14vw, 20px);

  margin-bottom: clamp(25px, 1.222rem + 1.7vw, 40px);
}

.connect__input {
  border-radius: 60px;
  background: $colorBgInput;

  padding: 18px 24px;

  color: $colorTextInput;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.radios__wrapper {
    margin-left: 24px;
}

.connect__radios {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  margin-top: clamp(15px, 0.824rem + 0.57vw, 20px);

  label {
    color: $colorWhite;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
}

.connect__checkboxe {
    margin-right: 12px;
}

.connect__button {
  margin-top: clamp(30px, 1.648rem + 1.14vw, 40px);
}

.connect__telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  margin-top: 22px;
}

.svg__connect {
  position: absolute;
  bottom: 0;
}

@include mediaTablet {
  .connect__row {
    flex-direction: column;
    align-items: center;
  }
}

