.header__wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  margin-bottom: clamp(50px, 0.852rem + 11.36vw, 150px);
}

.header {
}
.container {
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: clamp(30px, 1.648rem + 1.14vw, 40px) 0;
}
.header__img {
}
.header__nav {
}
.header__list {
  display: flex;
  align-items: center;
  column-gap: 81px;
}
.header__item {
}
.header__link {
  color: $colorWhite !important ;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.burder__button {
  display: none;
}

@include mediaTablet {
  .header__nav, .header__button {
    display: none;
  }

  .burder__button {
    display: block;
  }
}
