@keyframes showPopup {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hidePopup {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}
