body {
  font-family: $euclid;
  // color: ;
  font-size: 16px;
  background-color: $colorBg;
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.default__title {
  &_case {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 80px;

    a {
      display: flex;
      align-items: center;
      column-gap: 4px;

      color: $colorWhite;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    img {
      padding-top: 2px;
    }
  }
}

.button__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title1 {
  color: $colorWhite;
  font-family: $ubuntu;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.title2 {
  color: $colorWhite;
  font-family: $ubuntu;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
}

.title3 {
  color: $colorWhite;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;

  &_approach {
    span {
      padding-right: 15px;
    }
  }

  &_case {
    font-weight: 500;
  }
}

.subtitle {
  font-weight: 400;
  color: $colorWhite;

  &_info {
    font-size: 32px;
    line-height: 150%;
  }

  &_services {
    color: $colorWhite;
    font-size: 26px;
    font-weight: 400;
    line-height: 200%;
  }

  &_approach {
    font-size: 20px;
    line-height: 150%;
  }

  &_case {
    font-size: 26px;
    line-height: 33px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $colorWhite;
  border-radius: 60px;
  background-color: $colorWhite;

  padding: 12px 43.5px;

  color: $colorTextButton;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  transition: transform 0.1s linear;

  &_case {
    column-gap: 4px;
    padding: 12px 24px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
