/*FONTS*/

$euclid: 'Euclid Circular B', serif;
$ubuntu: 'Ubuntu', serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #ffffff;
$colorBg: #1E1E1E;
$colorTextButton: #222222;

/*COLORS*/

/*MEDIA*/

$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/